.App {
  text-align: center;
  margin: 0;
  user-select: none;
  background-color: #88afd0;
  min-height: 100vh;
}

.h1 {
  margin-top: 0;
}

/*******CHANGE NAME FORM**********/

.change-name-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 120px;
  height: 35px;
  background-color: rgb(178, 34, 34);
  border-radius: 100px;
  box-shadow: rgba(178, 34, 34, 0.2) 0 -25px 18px -14px inset,
    rgba(178, 34, 34, 0.15) 0 1px 2px, rgba(178, 34, 34, 0.15) 0 2px 4px,
    rgba(178, 34, 34, 0.15) 0 4px 8px, rgba(178, 34, 34, 0.15) 0 8px 16px,
    rgba(178, 34, 34, 0.15) 0 16px 32px;
  color: whitesmoke;
  cursor: pointer;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
}

.form-change-name {
  z-index: 10;
  position: absolute;
  top: 60px;
  left: 10px;
  background-color: rgb(178, 34, 34);
  border: 3px solid black;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.5);
}

/*********************************/

.santaHat {
  width: 150px;
  transform: rotate(30deg);
  position: fixed;
  top: 33vh;
  left: 52vw;
  z-index: 2;
}

.form-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(178, 34, 34);
  border: 3px solid black;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.5);
}

.form-name_label,
.form-change-name_label {
  color: white;
}

.form-name_input,
.form-name_input:active,
.form-name_input:focus,
.form-change-name_input,
.form-change-name_input:active,
.form-change-name_input:focus {
  padding: 5px;
  border: none;
  outline: none;
  text-align: center;
  background-color: rgb(178, 34, 34);
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  color: white;
}

::placeholder {
  color: white;
  opacity: 0.75;
}

.container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-name_btn,
.form-change-name_btn {
  z-index: 10;
  width: 50%;
  margin: 0 auto;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
}

.form-name_btn:hover,
.form-change-name_btn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(5deg);
}

/* Snow effect */

.snowflakes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 2000px;
  pointer-events: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snowflake {
  position: absolute;
  font-size: 2rem;
  color: white;
  animation: fall 10s linear infinite;
  opacity: 0;
}

.snowflake:nth-child(1) {
  left: 10%;
  animation-delay: 0s;
}

.snowflake:nth-child(2) {
  left: 20%;
  animation-delay: 2s;
}

.snowflake:nth-child(3) {
  left: 30%;
  animation-delay: 1s;
}
.snowflake:nth-child(4) {
  left: 40%;
  animation-delay: 5s;
}
.snowflake:nth-child(5) {
  left: 50%;
  animation-delay: 3s;
}
.snowflake:nth-child(6) {
  left: 60%;
  animation-delay: 4s;
}
.snowflake:nth-child(7) {
  left: 70%;
  animation-delay: 9s;
}
.snowflake:nth-child(8) {
  left: 80%;
  animation-delay: 7s;
}
.snowflake:nth-child(9) {
  left: 90%;
  animation-delay: 5s;
}

/* Hópehely animáció */
@keyframes fall {
  0% {
    transform: translateY(-950px);
    opacity: 1;
  }
  100% {
    transform: translateY(2000px);
    opacity: 0;
  }
}

/*Media queries*/

@media (max-width: 643px) {
  .container {
    flex-direction: column;
    align-items: flex-end;
  }

  .change-name-btn {
    position: static;
  }

  .header {
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
  }

}

@media (min-width: 1024px) and (max-height: 820px) {
  .form-name_btn {
    bottom: -225px;
  }
}

@media (min-width: 1024px) and (max-height: 780px) {
  .form-name_btn {
    bottom: -185px;
  }
}

@media (min-width: 1024px) and (max-height: 740px) {
  .form-name_btn {
    bottom: -145px;
  }
}

@media (max-width: 643px) {
  .container {
    margin-right: 5px;
  }
}

/*Santa hat media queries*/

@media (max-width: 1262px) {
  .santaHat {
    left: 53vw;
  }
}

@media (max-width: 992px) {
  .santaHat {
    left: 54vw;
  }
}

@media (max-width: 643px) {
  .santaHat {
    left: 55vw;
  }
}

@media (max-width: 447px) {
  .santaHat {
    left: 56vw;
  }
}

@media (max-height: 825px) {
  .santaHat {
    top: 31.5vh;
  }
}

@media (max-height: 755px) {
  .santaHat {
    top: 30vh;
  }
}

@media (max-height: 690px) {
  .santaHat {
    top: 28vh;
  }
}

@media (max-height: 630px) {
  .santaHat {
    top: 26vh;
  }
}

@media (max-height: 566px) {
  .santaHat {
    top: 24vh;
  }
}

@media (max-height: 515px) {
  .santaHat {
    top: 22vh;
  }
}

@media (max-height: 490px) {
  .santaHat {
    top: 20vh;
  }
}
