.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 300px;
  border: 3px solid black;
  margin: 25px 150px;
  transform-origin: left;
  transition: transform 0.6s ease;
  perspective: 1000px;
  background-color: #E0C9A6;
  padding: 5px;
  user-select: none;
}

.card::before {
  content: var(--content-text);
  text-align: end;
  font-size: 35px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform-origin: left;
  transform: rotateY(0deg);
  transition: transform 0.6s ease;
  z-index: 10;
}

.card.img1::before {
    background-image: url(../public/cover1.webp);
    color: white;
}
.card.img2::before {
    background-image: url(../public/cover2.webp);
    color: white;
}
.card.img3::before {
    background-image: url(../public/cover3.webp);
    color: black;
}
.card.img4::before {
    background-image: url(../public/cover4.webp);
}
.card.img5::before {
    background-image: url(../public/cover5.webp);
}
.card.img6::before {
    background-image: url(../public/cover6.webp);
    color: white;
}


.card.flip::before {
  transform: rotateY(-140deg);
  content: '';
}

.card-content {
  position: relative;
  z-index: 2;
}


@media (max-width: 643px) {
    .card {
        margin: 30px 0;
    }
}

@media (max-width: 430px) {
    .card {
        width: 175px;
        /*Jobb oldalon teljesen a képernyő szélére kell helyezni a kártyákat. Max 2-3px távolság lehet.*/
        /* font-size: 14px; */
    }
}